body{
    background-color: #9935;
    overflow: hidden;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
button{
    width: 8vw;
    height: 20vw;
    margin: 0 5px;
    font-size: 1.2rem;
    background-color: white;
    border: 0.2vw solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000ca;
    font-weight: bold;
    text-shadow: 1px 1px 2px pink;
    outline: none;
    cursor: pointer;
}