*{
    overflow: hidden;
}
body{
    background-color: #9935;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
button{
    width: 8vw;
    height: 20vw;
    margin: 0 5px;
    font-size: 1.2rem;
    background-color: white;
    border: 0.2vw solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000ca;
    font-weight: bold;
    text-shadow: 1px 1px 2px pink;
    outline: none;
    cursor: pointer;
}

@media (max-width:768px) {
    div{
        margin-top: 30%;
    }
    button{
        width: 10vw;
        height: 40vw;
        margin: 0 2px;
        font-size: 1.5rem;
    }
}
@media (max-width:430px) {
    div{
        margin-top: 50%;
    }
    button{
        width: 11vw;
        height: 55vw;
        margin: 0 2px;
        font-size: 1.5rem;
    }
}
@media (max-width:360px) {
     div{
        margin-top: 70%;
    }
    button{
        font-size: 1.3rem;
        box-shadow: 2px 2px 5px #000000ef;
    }
}